.appContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #efefbb;
  background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
  background: linear-gradient(to right, #d4d3dd, #efefbb);
}

.pokemonContainer {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 80vw;
}

button {
  background-color: #4286c5;
  border-radius: 25px;
  width: 50vw;
  height: 15vw;
  border: none;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-family: "roboto", "sans-serif";
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

@media (min-width: 600px) {
  button {
    width: 20vw;
    height: 5vw;
  }
}
